body {
    background-color: #18acca ;
}
body, html {
    overflow: auto;
}
.main .container {
    /*background-color: ;#0695b2  #8EE3FF  */
    background-color: #53C8E4;
    padding-top: 10px;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (min-width: 768px) {
    .main {
        padding-top: 100px;
    }
}
.main .container h5 {
    color: white;
}
.member-thumbnail .img_modal {
    border-radius: 5px;
}
ul.pagination li {
    background-color: white;
}
#search-result .member-item {
    margin-bottom: 15px;
}
.wrapper  {
    height: auto !important;
    background-color: #18acca ;
}
#members-search-input {
    margin-left: 0px;
}