
.clear {
    clear: both !Important;
    margin-top:40px !Important;
}
.thumbnail {
    max-height: 240px !Important;
    min-height: 240px !Important;
    max-width: 400px !Important;

}
.black-popup{
    text-align: center;
    background-color: white;
    max-width: 800px !Important;
    max-height: 600px !Important;

}
.img-side{
    margin-top:15px !Important;
}
.like-side{

    margin-top:15px !Important;
    height:400px;
}

.like_button {
    background-color: #0088cc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    cursor:pointer;

}
.like_button:disabled {
    background-color: gray;
}
input.search-input {
    /*width: 100%;*/
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input.search-input:focus {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.search-button {
    background-color: #0088cc; /* Blue */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
}
/*pagination*/
ul.pagination {
    display: inline-block !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-top:30px !important;
}

ul.pagination li {display: inline !important;}

ul.pagination li {
    color: black !important;
    float: left !important;
    padding: 8px 16px !important;
    text-decoration: none !important;
    border-radius: 5px !important;
    border: 1px solid #ddd; /* Gray */
}

ul.pagination li.active {
    background-color: #0088cc !important;
    color: white !important;
    border-radius: 5px !important;
}

ul.pagination li:hover:not(.active) {background-color: #ddd !important;}
.like-side >span {
    color: #3a3a3a;
}
.span_score{
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 40px;
    color: #739c1f;
}
.img_score{
    position: relative;
}
.members-score{
    font-size: 15px;
    color: white !important;

}

.md-button {
    padding: 2px 6px 2px 6px;
    margin: 0px 8px 0px 0px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    background-color: #0088cc;
    color:white;
    text-decoration:none;
    border: none;
    outline: none;
    cursor: pointer;
}

.md-button:disabled {
    background-color: slategrey;
}

#search_form, #search_form > .row {
    margin-bottom: 0px;
}

.mfp-close-btn-in .mfp-close {
    color: #3a3a3a;
}