#page1 {
	background: #b34a60 url('../../images/blurred1.jpg');
	background-size: 100% auto;
}

#page2 {
	background: #6d4a89 url('../../images/blurred2.jpg');
	background-size: 100% auto;
}

#page3 {
	background: #5f2641 url('../../images/blurred3.jpg');
	background-size: 100% auto;
}

#page4 {
	background: #3a4577 url('../../images/blurred4.jpg');
	background-size: 100% auto;
}

#page5 {
	background: #7e5587 url('../../images/blurred5.jpg');
	background-size: 100% auto;
}

.mfp-bg {
	background: url('../../images/blurred1.jpg');
	background-size: 100% auto;
}

#bgvideo {
	display: none !important;
}

@media only screen and (min-width: 0px) and (max-width: 1135px) { 

	#page1 {
	    background-size: 100% 100%;
	}
	
	#page2 {
	    background-size: 100% 100%;
	}
	
	#page3 {
	    background-size: 100% 100%;
	}
	
	#page4 {
	    background-size: 100% 100%;
	}
	
	#page5 {
	    background-size: 100% 100%;
	}
	
	.mfp-bg {
		background-size: 100% 100%;
	}

}

@media only screen and (min-width: 0px) and (max-width: 959px) { 

	#page1 {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
	
	#page2 {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
	
	#page3 {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
	
	#page4 {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
	
	#page5 {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
	
	.mfp-bg {
		background-size: auto 100%;
		background-position-x: 50%;
	}
}

@media only screen and (max-width: 767px) {

	#page1 {
	    background-size: 100% auto;
	}
	
	#page2 {
	    background-size: 100% auto;
	}
	
	#page3 {
	    background-size: 100% auto;
	}
	
	#page4 {
	    background-size: 100% auto;
	}
	
	#page5 {
	    background-size: 100% auto;
	}	
	
	.mfp-bg {
 		background-size: 100% auto;
	}
}

@media only screen and (max-width: 479px) {

	#page1 {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
	
	#page2 {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
	
	#page3 {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
	
	#page4 {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
	
	#page5 {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
	
	.mfp-bg {
		background-size: auto 100%;
		background-position-x: 50%;
	}
}