#page1 {
	background: #18acca;
}

#page2 {
	background: #5b6066;
}

#page3 {
	background: #8dbf1c;
}

#page4 {
	background: #5b6066;
}

#page5 {
	background: #ff6a28;
}

.mfp-bg {
	background: #5b6066;
}

#bgvideo {
	display: none !important;
}

