#page1 {
   background-color: rgba(39, 172, 200, .89);
}

#page1:before {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #27acc8 url('../../images/picture1.jpg'); 
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 100% auto;
}

#page2 {
   background-color: rgba(91, 96, 102, .88);
}

#page2:before {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #8dbf1c url('../../images/picture2.jpg'); 
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 100% auto;
}

#page3 {
   background-color: rgba(141, 191, 28, .9);
}

#page3:before {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #8dbf1c url('../../images/picture3.jpg'); 
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 100% auto;
}

#page4 {
   background-color: rgba(91, 96, 102, .91);
}

#page4:before {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #8dbf1c url('../../images/picture4.jpg'); 
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 100% auto;
}

#page5 {
   background-color: rgba(252, 92, 22, .82);
}

#page5:before {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #ff6a28 url('../../images/picture5.jpg'); 
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 100% auto;
}

.mfp-bg {
	background: #5b6066;
}

#bgvideo {
	display: none !important;
}

@media only screen and (min-width: 0px) and (max-width: 1135px) { 

	#page1:before {
	    background-size: 100% 100%;
	}
	
	#page2:before {
	    background-size: 100% 100%;
	}
	
	#page3:before {
	    background-size: 100% 100%;
	}
	
	#page4:before {
	    background-size: 100% 100%;
	}
	
	#page5:before {
	    background-size: 100% 100%;
	}

}

@media only screen and (min-width: 0px) and (max-width: 959px) { 

	#page1:before {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
	
	#page2:before {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
	
	#page3:before {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
	
	#page4:before {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
	
	#page5:before {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
}

@media only screen and (max-width: 767px) {

	#page1:before {
	    background-size: 100% auto;
	}
	
	#page2:before {
	    background-size: 100% auto;
	}
	
	#page3:before {
	    background-size: 100% auto;
	}
	
	#page4:before {
	    background-size: 100% auto;
	}
	
	#page5:before {
	    background-size: 100% auto;
	}	
}

@media only screen and (max-width: 479px) {

	#page1:before {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
	
	#page2:before {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
	
	#page3:before {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
	
	#page4:before {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
	
	#page5:before {
	    background-size: auto 100%;
	    background-position-x: 50%;
	}
}