video#bgvideo {
	position: absolute;
	bottom: 0px;
	right: 0px;
	min-width:100%;
	min-height:100%;
	max-height:4000%;
	max-width:1000%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
	background: #fff !important;
	opacity: .9;
}

#page1 {
   background-color: rgba(0, 0, 0, .3);
}

#page2 {
   background-color: rgba(0, 0, 0, .15);
}

#page3 {
   background-color: rgba(0, 0, 0, .3);
}

#page4 {
   background-color: rgba(0, 0, 0, .15);
}

#page5 {
   background-color: rgba(0, 0, 0, .3);
}

.mfp-bg {
	background: #111;
}

@media only screen and (min-width: 0px) and (max-width: 1024px) { 

	video#bgvideo {
		display: none;
	}
	
	.wrapper {
		background: #333;
	}
	
}






