body {
	color: #fff;
	color: rgba(255,255,255, 0.7);
	text-shadow: 1px 1px rgba(0,0,0, 0.02);
}

h1 {
	color: #fff;
	text-shadow: 1px 1px rgba(0,0,0, 0.03);
}

h2 {
	color: #fff;
	text-shadow: 1px 1px rgba(0,0,0, 0.03);
}

h3 {
	color: #fff;
	color: rgba(255,255,255, 0.65);
	text-shadow: 1px 1px rgba(0,0,0, 0.02);
}

#navigation {
	background: #000;
	background: rgba(0,0,0, 0.17);
	border: none;
	opacity: 1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

#navigation ul li a {
	color: #fff;
	color: rgba(255,255,255, 0.68);
}

#navigation ul li a:after{	
	opacity: .45;
	color: rgba(255,255,255, 0.68);
}

#navigation ul li a:hover {
	color: #fff;
}

#navigation ul li a.active {
	color: #fff;
}

h1.logo a{	
	background: url('../../images/logo_white.png') no-repeat 0 0 ;
}

#page1:before {
	border: none;
}

#page2:before {
	border: none;
}

#page3:before {
	border: none;
}

#page4:before {
	border: none;
}

#page2 .left-side #button a:before{
	background: url('../../images/sprite_white.png') -6px 0 no-repeat;
}

#page2 .left-side #button a{
	border-color: transparent;
	background: #222;
	background: rgba(0,0,0, 0.12);
}

#page2 .left-side #button a h4 {
	color: #fff;
}

#page2 .left-side #button a p {
	color: #fff;
	color: rgba(255,255,255, 0.6);
	text-shadow: 1px 1px rgba(0,0,0, 0.02);
}

#page4 .left-side a h3 {
	color: rgba(255,255,255, 0.55);
}

#page4 .left-side a img{
	background: #000;
	background: rgba(0,0,0, 0.12);	
}

#page5 label {
	color: #fff;
	text-shadow: 1px 1px rgba(0,0,0, 0.02);
}

#page5 input::-webkit-input-placeholder { 
	color: #fff;
    color: rgba(255,255,255, 0.65);
}

#page5 input:-moz-placeholder {
	color: #fff;
    color: rgba(255,255,255, 0.65);
}

#page5 input::-moz-placeholder {
	color: #fff;
    color: rgba(255,255,255, 0.65);
}

#page5 input:-ms-input-placeholder {
	color: #fff;
    color: rgba(255,255,255, 0.65);
}

#page5 input[type="email"]:focus {
	color: #fff;
	color: rgba(255,255,255, 0.65);
}

#page5 ul li a {
	border-color: transparent; 
}

#page5 p {
	color: #fff;
	color: rgba(255,255,255, 0.7);
	text-shadow: 1px 1px rgba(0,0,0, 0.02);
}

#page5 p a{
	color: #fff;
}

#page5 ul li a.twitter{
	background:  #000;
	background:  rgba(0,0,0, 0.1) url('../../images/sprite_white.png') 6px -81px no-repeat;
}

#page5 ul li a.facebook{
	background:  #000;
	background:  rgba(0,0,0, 0.1) url('../../images/sprite_white.png') 7px -119px no-repeat;
}

#page5 ul li a.linkedin{
	background:  #000;
	background:  rgba(0,0,0, 0.1) url('../../images/sprite_white.png') 5px -157px no-repeat;
}

.onepage-pagination li a.active::before {
	border: 1px solid #fff;
}

.onepage-pagination li a::before {
	background:  #fff;
	background: rgba(255,255,255, 0.37);
}

.flex-control-paging li a.flex-active::before {
	background: transparent;
	border-color: #fff;
	border-color: rgba(255,255,255, 0.9);
}

.flex-control-paging li a:before {
	border-color: #fff;
	background: rgba(255,255,255, 0.37);
}

.flex-direction-nav .flex-prev { 
	background: url('../../images/sprite_white.png') 0 -277px no-repeat;
	opacity: .9;
}

.flex-direction-nav .flex-next { 
	background: url('../../images/sprite_white.png') 0 -201px no-repeat;
	opacity: .9;
}

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
   background: url('../../images/sprite_white.png') 0 -277px no-repeat;
   opacity: .9;
}

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
   background: url('../../images/sprite_white.png') 0 -201px no-repeat;
   opacity: .9;
}

.mfp-close-btn-in .mfp-close {
	color: #fff;
	opacity: .5
}

@media only screen and (max-width: 767px) {
	
	#page2 .left-side #button {
		background: none;
	}
	
	#responsive-nav select{
		background: url('../../images/sprite_white.png') -4px -61px no-repeat;
	}
	
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {

  	h1.logo a {
		background: url('../../images/logo_white@2x.png') no-repeat 0 0;
		background-size: 120px 33px;
	}
	
	#page4 .left-side a img{
		background: rgba(0,0,0, 0.13);	
	}	
	
	#page2 .left-side #button a:before{
		background: url('../../images/sprite_white@2x.png') -6px 0 no-repeat;
		background-size: 35px 340px;
	}
	
	.flex-direction-nav .flex-prev { 
		background: url('../../images/sprite_white@2x.png') 0 -277px no-repeat;
		background-size: 35px 340px;
	}
	
	.flex-direction-nav .flex-next { 
		background: url('../../images/sprite_white@2x.png') 0 -201px no-repeat;
		background-size: 35px 340px;
	}
	
	.mfp-arrow-left:before, .mfp-arrow-left .mfp-b { 
		background: url('../../images/sprite_white@2x.png') 0 -277px no-repeat;
		background-size: 35px 340px;
	}
	
	.mfp-arrow-right:before, .mfp-arrow-right .mfp-b { 
		background: url('../../images/sprite_white@2x.png') 0 -201px no-repeat;
		background-size: 35px 340px;
	}
	
	#page5 ul li a.twitter{
		background: rgba(0,0,0, 0.1) url('../../images/sprite_white@2x.png') 6px -81px no-repeat;
		background-size: 35px 340px;
	}
	
	#page5 ul li a.facebook{
		background: rgba(0,0,0, 0.1) url('../../images/sprite_white@2x.png') 7px -119px no-repeat;
		background-size: 35px 340px;
	}
	
	#page5 ul li a.linkedin{
		background: rgba(0,0,0, 0.1) url('../../images/sprite_white@2x.png') 5px -157px no-repeat;
		background-size: 35px 340px;
	}
	
	#responsive-nav select{
		background: url('../../images/sprite_white@2x.png') -4px -61px no-repeat;
		background-size: 35px 340px;
	}
}

@media only screen and (max-width: 767px) {
	
	#page5 ul li a.twitter {
		background-size: 28px 272px;
		background-position: 2px -68px;
	}
	
	#page5 ul li a.facebook {
		background-size: 28px 272px;
		background-position: 3px -98px;
	}
	
	#page5 ul li a.linkedin {
		background-size: 28px 272px;
		background-position: 1px -128px;
	}

}
