/*** Animations based on Dan Eden's Animate.css - http://daneden.me/animate ***/

@charset "UTF-8";

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  80% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    -ms-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    -ms-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    -ms-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}

@keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-120deg);
    -ms-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    -ms-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translateZ(60px) rotateY(170deg) scale(1);
    transform: perspective(400px) translateZ(60px) rotateY(170deg) scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    opacity: .75;
    -webkit-transform: perspective(400px) translateZ(60px) rotateY(190deg) scale(1);
    transform: perspective(400px) translateZ(60px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
  	opacity: 1;
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@keyframes flip {
  0% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    -ms-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translateZ(60px) rotateY(170deg) scale(1);
    -ms-transform: perspective(400px) translateZ(60px) rotateY(170deg) scale(1);
    transform: perspective(400px) translateZ(60px) rotateY(170deg) scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
  	opacity: .75;
    -webkit-transform: perspective(400px) translateZ(60px) rotateY(190deg) scale(1);
    -ms-transform: perspective(400px) translateZ(60px) rotateY(190deg) scale(1);
    transform: perspective(400px) translateZ(60px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
    -ms-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
  	opacity: 1;
    -webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    -ms-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

.animated.flip {
  -webkit-backface-visibility: visible;
  -ms-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
}


@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
  	opacity: .6;
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
  	opacity: 1;
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
  	opacity: .6;
    -webkit-transform: scale(0.9) rotate(-3deg);
    -ms-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    -ms-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  100% {
  opacity: 1;
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

.animated2 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;

}

.delay25 {
	-webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}




/* Here starts the animation section for page 1 */

/* This 3 class is needed for top menu animation on page 2 */

.viewing-page-1 .animated1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.viewing-page-1 .delay15 {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-ms-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.viewing-page-1 .bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

/* Animations of page 1 elements */


.viewing-page-1 #page1 .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.viewing-page-1 #page1 .bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

.viewing-page-1 #page1 .animated05 {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.viewing-page-1 #page1 .animated15 {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.viewing-page-1 #page1 .delay05 {
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	-ms-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}

.viewing-page-1 #page1 .delay1 {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}

.viewing-page-1 #page1 .delay2 {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-ms-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}



/* Here starts the animation section for page 2*/

/* This 3 class is needed for top menu animation on page 2 */

.viewing-page-2 .animated1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.viewing-page-2 .delay15 {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-ms-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.viewing-page-2 .bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

/* Animations of page 2 elements */

.viewing-page-2 #page2 .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.viewing-page-2 #page2 .bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

.viewing-page-2 #page2 .bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.viewing-page-2 #page2 .flipInX {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

.viewing-page-2 #page2 .animated1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.viewing-page-2 #page2 .animated15 {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.viewing-page-2 #page2 .delay1 {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}



/* Here starts the animation section for page 3 */

/* This 3 class is needed for top menu animation on page 3 */

.viewing-page-3 .animated1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.viewing-page-3 .delay15 {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-ms-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.viewing-page-3 .bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

/* Animations of page 3 elements */
.viewing-page-3 #page3 .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.viewing-page-3 #page3 .bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

.viewing-page-3 #page3 .animated05 {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.viewing-page-3 #page3 .animated15 {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.viewing-page-3 #page3 .delay1 {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}



/* Here starts the animation section for page 4*/

/* This 3 class is needed for top menu animation on page 4 */

.viewing-page-4 .animated1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.viewing-page-4 .delay15 {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-ms-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.viewing-page-4 .bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

/* Animations of page 4 elements */
.viewing-page-4 #page4 .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.viewing-page-4 #page4 .bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

.viewing-page-4 #page4 .bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.viewing-page-4 #page4 .flipInX {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

.viewing-page-4 #page4 .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.viewing-page-4 #page4 .animated15 {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.viewing-page-4 #page4 .animated2 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.viewing-page-4 #page4 .delay1 {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}



/* Here starts the animation section for page 5 */

/* This 3 class is needed for top menu animation on page 5 */

.viewing-page-5 .animated1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.viewing-page-5 .delay15 {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-ms-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.viewing-page-5 .bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

/* Animations of page 5 elements */


.viewing-page-5 #page5 .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.viewing-page-5 #page5 .bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

.viewing-page-5 #page5 .rollIn {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
}

.viewing-page-5 #page5 .animated05 {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.viewing-page-5 #page5 .animated15 {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.viewing-page-5 #page5 .delay1 {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}

.viewing-page-5 #page5 .delay15 {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-ms-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.viewing-page-5 #page5 .delay2 {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-ms-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}



/* #Media Queries
================================================== */


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {


/* .viewing-page-1 #page1 .animated05, .viewing-page-1 #page1 .animated1, .viewing-page-1 #page1 .animated15, .viewing-page-1 #page1 .animated2, .viewing-page-1 #page1 .animated25, .viewing-page-1 #page1 .animated3  {
	-webkit-animation-duration: 0s;
	animation-duration: 0s;
	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

.viewing-page-2 #page2 .animated05, .viewing-page-2 #page2 .animated1, .viewing-page-2 #page2 .animated15, .viewing-page-2 #page2 .animated2, .viewing-page-2 #page2 .animated25, .viewing-page-2 #page2 .animated3  {
	-webkit-animation-duration: 0s;
	animation-duration: 0s;
	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

.viewing-page-3 #page3 .animated05, .viewing-page-3 #page3 .animated1, .viewing-page-3 #page3 .animated15, .viewing-page-3 #page3 .animated2, .viewing-page-3 #page3 .animated25, .viewing-page-3 #page3 .animated3  {
	-webkit-animation-duration: 0s;
	animation-duration: 0s;
	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

.viewing-page-4 #page4 .animated05, .viewing-page-4 #page4 .animated1, .viewing-page-4 #page4 .animated15, .viewing-page-4 #page4 .animated2, .viewing-page-4 #page4 .animated25, .viewing-page-4 #page4 .animated3  {
	-webkit-animation-duration: 0s;
	animation-duration: 0s;
	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

.viewing-page-5 #page5 .animated05, .viewing-page-5 #page5 .animated1, .viewing-page-5 #page5 .animated15, .viewing-page-5 #page5 .animated2, .viewing-page-5 #page5 .animated25, .viewing-page-5 #page5 .animated3  {
	-webkit-animation-duration: 0s;
	animation-duration: 0s;
	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

.viewing-page-1 #page1 .delay05, .viewing-page-1 #page1 .delay1, .viewing-page-1 #page1 .delay15, .viewing-page-1 #page1 .delay2, .viewing-page-1 #page1 .delay25, .viewing-page-1 #page1 .delay3, .viewing-page-1 #page1 .delay35, .viewing-page-1 #page1 .delay4,   {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

.viewing-page-2 #page2 .delay05, .viewing-page-2 #page2 .delay1, .viewing-page-2 #page2 .delay15, .viewing-page-2 #page2 .delay2, .viewing-page-2 #page2 .delay25, .viewing-page-2 #page2 .delay3, .viewing-page-2 #page2 .delay35, .viewing-page-2 #page2 .delay4,   {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

.viewing-page-3 #page3 .delay05, .viewing-page-3 #page3 .delay1, .viewing-page-3 #page3 .delay15, .viewing-page-3 #page3 .delay2, .viewing-page-3 #page3 .delay25, .viewing-page-3 #page3 .delay3, .viewing-page-3 #page3 .delay35, .viewing-page-3 #page3 .delay4,   {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

.viewing-page-4 #page4 .delay05, .viewing-page-4 #page4 .delay1, .viewing-page-4 #page4 .delay15, .viewing-page-4 #page4 .delay2, .viewing-page-4 #page4 .delay25, .viewing-page-4 #page4 .delay3, .viewing-page-4 #page4 .delay35, .viewing-page-4 #page4 .delay4,   {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

.viewing-page-5 #page5 .delay05, .viewing-page-5 #page5 .delay1, .viewing-page-5 #page5 .delay15, .viewing-page-5 #page5 .delay2, .viewing-page-5 #page5 .delay25, .viewing-page-5 #page5 .delay3, .viewing-page-5 #page5 .delay35, .viewing-page-5 #page5 .delay5,   {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
} */

.viewing-page-1 #page1 .animated05 {
  -webkit-animation-duration: 0s;
  animation-duration: 0s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.viewing-page-1 #page1 .animated15 {
  -webkit-animation-duration: 0s;
  animation-duration: 0s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.viewing-page-1 #page1 .delay05 {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

.viewing-page-1 #page1 .delay1 {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

.viewing-page-1 #page1 .delay2 {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

.animated05, .animated1, .animated15, .animated2, .animated25, .animated3 {
	-webkit-animation-duration: 0s;
	animation-duration: 0s;
	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

.delay05, .delay1, .delay15, .delay2, .delay25, .delay3, .delay35, .delay4, .delay45 {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}


}

