/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

@font-face {
	font-family: 'Helvetica Neue Thin';
	src: url('../fonts/HelveticaNeue-Thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; 
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; 
}

@font-face {
	font-family: 'Open Sans Regular';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; 
}
    
/* #Site Styles
================================================== */


html {
  height: 100%;
}

body {
  background: #fff;
  padding: 0;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.wrapper {
	height: 100% !important;
	height: 100%;
	margin: 0 auto; 
	overflow: hidden;
}

.main {
	position: relative;
}

#navigation {	
	background: #fff;
	height: 70px;
	position: fixed !important;
	top:0 !important;
	left:0;
	width:100%;
	z-index:100;
	opacity: 0.93;
	border-bottom: 1px solid #dadada;
	-webkit-box-shadow: 0 8px 10px -13px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 8px 10px -13px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 8px 10px -13px rgba(0, 0, 0, 0.2);
	box-shadow: 0 8px 10px -13px rgba(0, 0, 0, 0.2);
}

#navigation h1.logo {	
	width: 30%;
	float: left;
}

h1.logo a{	
	width: 120px;
	height: 33px;
	margin-top: 17px;
	display: block;
	background: url('../images/logo.png') no-repeat 0 0;
	font: 0/0 a;
    color: transparent;
}

#navigation ul{	
	text-align: right;
	margin-top: 21px;
	width: 70%;
	float: right;
}

#navigation ul li{	
	display: inline;
	margin-right: 5px;
}

#navigation ul li:last-child{	
	margin-right: 0px;
}

#navigation ul li a{	
	font-size: 10px;
	color: #777;
	font-family: 'Open Sans Regular';
	text-transform: uppercase;
	letter-spacing: 2px;
}

#navigation ul li a:after{	
	content: '/';
	margin-left: 10px;
	opacity: .45;
	color: #777;
}

#navigation ul li:last-child a:after{	
	content: '';
	margin-left: 0px;
}

#navigation ul li a:hover{	
	color: #0088cc;
}

#navigation ul li a.active{	
	color: #0088cc;
}

.main section .page_container {
  position: relative;
  top: 25%;
  margin: 0 auto 0;
  max-width: 950px;
  z-index: 3;
}

.main section  {
  overflow: hidden;
}

#page1 h1{
	text-align: center;
	margin-top: 104px;
}

#page1 h3{
	text-align: center;
	margin: -13px 0 45px 4px;
}

#page1-phones {
	position: relative;
}

#page1 #first-phone {
	width: 306px;
	height: 796px;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 85px;
}

#page1 #second-phone {
	width: 306px;
	height: 796px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 325px;
}

#page1 #third-phone {
	width: 306px;
	height: 796px;
	position: absolute;
	z-index: 2;
	top: 0;
	right: 85px;
}

#page2 .phone {
	width: 420px;
	height: 765px;
	float: left;
	margin: 145px 0 0 45px;
}

#page2 .left-side {
	width: 399px;
	margin: 237px 0 0 5px;
	float: left;
}

#page2 .left-side #button a{
	display: block;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	padding: 16px 15px 14px 66px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	width: 398px;
	height: 87px;
	margin-top: 5px;
	position: relative;
	background: transparent;
	border: 1px solid #bbb;
}

#page2 .left-side #button a:hover{
	-webkit-animation: tada 1.1s ease-in-out;
	-moz-animation: tada 1.1s ease-in-out;
	-o-animation: tada 1.1s ease-in-out;
	animation: tada 1.1s ease-in-out;
}

#page2 .left-side #button a:before{
	content: '';
	display: block;
	position: absolute;
	width: 25px;
	height: 49px;
	background: url('../images/sprite_grey.png') -6px 0 no-repeat;
	top: 18px;
	left: 23px;
}

#page2 .left-side #button a h4{
	margin-bottom: 0px;
	float: left;
	font-size: 28px;
	text-shadow: none;
	border: none !important;
	color: #3a3a3a;
	margin-top: 1px;
}

#page2 .left-side #button a p{
	margin: -7px 0 0 0;
	font-size: 10px;
	font-weight: 200;
	float: left;
	font-family: 'Helvetica Neue', sans-serif;
	text-shadow: none;
	border: none !important;
	color: #8f8f8f;
	font-family: 'Open Sans Regular';
	text-transform: uppercase;
	letter-spacing: 2px;
}

#page3 h1{
	text-align: center;
	margin-top: 110px;
}

#page3 p{
	text-align: center;
	margin: 0 auto 35px auto;
	width: 650px;
}

#page3 .bottom-side{
	margin-left: 68px;
	position: relative;
}

#page3 .bottom-side #tablet{
	width: 824px;
	height: 600px;
}

#page3 .bottom-side .flexslider{
	width: 640px;
	height: 480px;
	top: 41px;
	left: 89px;
	position: absolute; 
	z-index: 997;
}

#page4 .left-side {
	width: 399px;
	margin: 237px 0 0 5px;
	float: left
}

#page4 .left-side a img{
	display: block;
	width: 245px;
	height: 139px;
	margin-top: 28px;
	border-radius: 6px;
	background: url('../images/video_bg.jpg') 0 0 no-repeat;
}

#page4 .left-side a {
	display: block;
	width: 245px;
	height: 139px;
}

#page4 .left-side a:hover {
	-webkit-animation: tada 1.1s ease-in-out;
	-moz-animation: tada 1.1s ease-in-out;
	-o-animation: tada 1.1s ease-in-out;
	animation: tada 1.1s ease-in-out;
}

#page4 .left-side a h3{
	color: #0088cc;
	font-size: 11px;
	margin: -5px 0 0 63px;
	font-family: 'Open Sans Regular';
	text-transform: uppercase;
	letter-spacing: 2px;
}

#page4 .right-side {
	position: relative;
	margin: 145px 0 0 45px;
	float: left;
}

#page4 .right-side img {
	width: 420px;
	height: 765px;
	float: left;
}

#page4 .right-side #phone-video {
	left: 66px !important;
	top: 106px !important;
	position: absolute;
	cursor: pointer;
}

.vjs-control-bar {
	display: none !important;
}

.vjs-default-skin .vjs-big-play-button {
  left: 95px;
  top: 205px;
  font-size: 0;
  display: block;
  z-index: 2;
  position: absolute;
  width: 90px;
  height: 90px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  opacity: .7;
  background: #000 url('../images/play.png') 27px 21px no-repeat;
  background: rgba(0, 0, 0, 0.35) url('../images/play.png')  27px 21px no-repeat;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

#page5 label{
	text-align: center;
	margin-top: 110px;
	font-size: 40px;
	line-height: 48px;
	margin-bottom: 8px;
	font-family: "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 100; 
	color: #3a3a3a;
}

#page5 input{
	text-align: center;
	margin: -19px auto 25px auto;
	font-size: 32px;
	line-height: 40px;
	margin-bottom: 8px;
	background: transparent;
	border: none;
	width: 568px;
	margin-bottom: 14px;
	font-family: "Helvetica Neue Thin"; 
	font-weight: 100;
}

#page5 input::-webkit-input-placeholder { 
    color: #7c7c7c;
    -webkit-font-smoothing: antialiased; 
}
#page5 input:-moz-placeholder {
    color: #7c7c7c;
}
#page5 input::-moz-placeholder {
    color: #7c7c7c;
}
#page5 input:-ms-input-placeholder {
    color: #7c7c7c;
}

#page5 input[type="email"]:focus {
	color: #0088cc;
	-webkit-font-smoothing: antialiased;
}

#page5 ul {
	width: 171px;
	margin: 0 auto;
	clear: both;
}

#page5 ul li{
	display: block;
	float: left;
	margin-right: 9px;
}

#page5 ul li:last-child{
	margin-right: 0;
}

#page5 ul li a{
	width: 49px;
	height: 49px;
	display: block;
	border: 1px solid #d3d3d3;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
}

#page5 ul li a:hover{
	-webkit-animation: flip 0.85s ease-in-out;
	-moz-animation: flip 0.85s ease-in-out;
	-o-animation: flip 0.85s ease-in-out;
	animation: flip 0.85s ease-in-out;
}

#page5 ul li a.twitter{
	background: url('../images/sprite_grey.png') 6px -81px no-repeat;
}

#page5 ul li a.facebook{
	background: url('../images/sprite_grey.png') 7px -119px no-repeat;
}

#page5 ul li a.linkedin{
	background: url('../images/sprite_grey.png') 5px -157px no-repeat;
}

#page5 ul li:last-child a{
	margin-right: 0px;
}

#page5 .bottom-side{
	margin-left: 43px;
	margin-top: 104px;
	position: relative;
}

#page5 .bottom-side #map{
  display: block;
  position: absolute;
  width: 557px;
  height: 315px;
  margin: 0 auto;
  top: 34px;
  left: 159px;
}

#page5 .bottom-side img{
	width: 880px;
	height: 431px;
}

#page5 p{
	width: 100%;
	position: absolute;
	bottom: -15px;
	text-align: center;
	font-size: 9px;
	color: #666;
	font-family: 'Open Sans Regular';
	text-transform: uppercase;
	letter-spacing: 2px;
}

#page5 p br{
	display: none;
}

#page5 p a{
	color: #0088cc;
}

#responsive-nav {
	display: none;
}

.flex-direction-nav .flex-prev { 
	background: url('../images/sprite_grey.png') 0 -277px no-repeat;
}

.flex-direction-nav .flex-next { 
	background: url('../images/sprite_grey.png') 0 -201px no-repeat;
}

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
   background: url('../images/sprite_grey.png') 0 -277px no-repeat;
}

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
   background: url('../images/sprite_grey.png') 0 -201px no-repeat;
}

@-webkit-keyframes slideInLeftPicker {
  0% {
    -webkit-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
  }

  35% {
    -webkit-transform: translateX(78px);
    -ms-transform: translateX(78px);
    transform: translateX(78px);
  }
  
  85% {
    -webkit-transform: translateX(78px);
    -ms-transform: translateX(78px);
    transform: translateX(78px);
  }
  
  100% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }

}

.slideInLeftPicker {
  -webkit-animation-name: slideInLeftPicker;
  animation-name: slideInLeftPicker;
}

#color-picker {
	position: absolute;
	left: -78px;
	margin-top: 176px;
	z-index: 999;
	background: #000;
	background: rgba(0,0,0, 0.15);
	padding: 5px 0px 0px 5px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
	-o-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
	cursor: pointer;
	-webkit-transition: left 0.4s ease-in-out;
	-moz-transition: left 0.4s ease-in-out;
	-o-transition: left 0.4s ease-in-out;
	transition: left 0.4s ease-in-out;
}

#color-picker:hover {
	left: 0px;
}

#color-picker span{
	background: #000 url('../images/arrow.png') 90px 11px no-repeat;
	background: rgba(0,0,0, 0.3) url('../images/arrow.png') 90px 11px no-repeat;
	display: block;
	position: absolute;
	left: 0px;
	top: -34px;
	width: 110px;
	height: 34px;
	z-index: 999;
	font-size: 15px;
	padding: 6px 0 0 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	-webkit-border-top-right-radius: 1px;
	-moz-border-top-right-radius: 1px;
	-o-border-top-right-radius: 1px;
	border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 1px;
	-moz-border-bottom-right-radius: 1px;
	-o-border-bottom-right-radius: 1px;
	border-bottom-right-radius: 2px;
	font-family: "Helvetica";
	cursor: pointer;
}

#color-picker ul{
	width: 70px;
}

#color-picker ul li{
	width: 30px;
	height: 30px;
	float: left;
	margin: 0 5px 5px 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	opacity: .95;
}

#blue {
	background: #00c4d5;
}

#orange{
	background: #ff6a28;
}

#green{
	background: #8dbf1c;
}

#grey{
	background: #333;
}

#pink{
	background: #ef0b8c;
}

#purple{
	background: #8a4dd7;
}

#white{
	background: #fff;
}

#red{
	background: #d44032;
}

.onepage-pagination li a::before {
	background: #888;
}

.onepage-pagination li a.active::before {
	border: 1px solid #0088cc;
}

.mfp-close-btn-in .mfp-close {
  color: #333; 
  opacity: .5
}


/* #Media Queries
================================================== */

@media only screen and (min-width: 768px) and (max-width: 1050px) {
	
	.flex-direction-nav {
		display: none;
	}	
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	#navigation h1.logo a  {
		margin-left: 40px;
	}
	
	#navigation ul li:last-child {
		padding-right: 40px;
	}
 	
 	#page1 #first-phone {
		left: 40px;
	}
	
	#page1 #second-phone {
		left: 232px;
	}
	
	#page1 #third-phone {
		right: 40px;
	}
	
	#page1 h1 {
		margin-top: 120px;
	}
	
	#page1 h3 {
		margin: -13px 0 55px 4px;
	}
	
	#page2 .phone {
		margin: 170px -20px 0 4px;
		width: 380px;
		height: 692px;
	}
	
	#page2 .left-side {
		right: 0;
		width: 359px;
		margin: 262px 0 0 5px;
	}
	
	#page2 .left-side #button a {
		width: 358px;
		padding: 16px 15px 14px 62px;
	}
	
	#page2 .left-side #button a h4 {
		font-size: 25px;
		margin-top: 2px;
	}
	
	#page2 .left-side #button a p {
		font-size: 10px;
	}
	
	#page2 .left-side #button a::before {
		left: 20px;
	}
	
	#page3 p {
		width: 660px;
		margin: 0 auto 45px auto;
	}
	
	#page3 h1 {
		margin-top: 120px;
	}
	
	#page3 .bottom-side {
		margin-left: -15px;
	}
	
	#page3 .bottom-side #tablet {
		width: 720px;
		height: 524px;
		margin-left: 40px;
	}
	
	#page3 .bottom-side .flexslider {
		top: 35px;
		left: 117px;
		width: 561px;
		height: 405px;
	}
	
	.flex-control-nav {
		display: block !important;
		bottom: -85px !important;
	}
	
	.onepage-pagination {
		right: 10px !important;
	}
	
	.flex-direction-nav {
		display: none;
	}
	
	#page4 .left-side {
		width: 359px;
		margin: 262px 0 0 5px;
	}
	
	#page4 .right-side #phone-video {
		left: 60px !important;
		top: 97px !important;
		width: 252px !important;
		height: 445px !important;
	}
	
	#page4 .right-side {
		margin: 170px -20px 0 4px;
	}
	
	#page4 .right-side img {
		width: 380px;
		height: 692px;
	}
	
	#page4 .left-side h2 {
		overflow: hidden;
		height: 90px
	}
	
	#page5 label {
		margin-top: 120px;
	}
	
	#page5 .bottom-side {
		margin-left: -43px;
	}
	
	#page5 .bottom-side img{
		width: 780px;
		height: 382px;
		margin-left: 40px;
	}
	
	#page5 .bottom-side #map {
		width: 494px;
		height: 280px;
		top: 30px;
		left: 181px;
	}
	
	.flex-direction-nav {
		display: none;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	
	#navigation {
		display: none;
	}
	
	#responsive-nav {
		display: block;
		position: relative;
	}
	
	#responsive-nav h1 {
		margin-top: 0;
	}
	
	#responsive-nav h1.logo a{
		display: block;
		margin: 0 auto;
		background-size: 110px 30px;
		width: 110px;
		height: 30px;
		margin-top: 12px;
	}
	
	#responsive-nav select{
		position: absolute;
		top: 3px;
		right: 0;
		background: url('../images/sprite_grey.png') -4px -61px no-repeat;
		background-color: transparent;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    text-indent: 999px;
	    text-overflow: '';
	    font: 0/0;
		color: transparent;
		overflow: hidden;
	    border: none;
	    cursor: pointer;
	    width: 30px;
	    height: 20px;
	}
	
	#responsive-nav select option{
		color: black;
	}
	
	#responsive-nav select::-ms-expand {
	    display: none;
	}
	
	h1 {
		font-size: 21px;
		line-height: 22px;
	}
	
	h2 {
		font-size: 20px;
		line-height: 21px;
	}
	
	h3 {
		font-size: 18px;
	}
	
	p{
		line-height: 18px;
		font-size: 13px;
		margin-bottom: 5px;
	}
	
	#page1:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 0px;
		display: block;
		bottom: 0px;
		z-index: 998;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #dadada;
	}
	
	#page1 h1 {
		margin-top: 10px;
	}
	
	#page1 h3 {
		margin: -16px 0 6px 0;
	}
	
 	#page1 #first-phone {
		width: 150px;
		height: 390px;
		top: 0;
		left: -5px;
	}
	
 	#page1 #second-phone {
		width: 150px;
		height: 390px;
		top: 0;
		left: 135px;
	}
	
 	#page1 #third-phone {
		width: 150px;
		height: 390px;
		top: 0;
		right: -5px;
	}	
	
	.onepage-pagination {
		right: 10px !important;
	}	
	
	#page2:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 0px;
		display: block;
		bottom: 0px;
		z-index: 998;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #dadada;
	}
	
	#page2 .phone {
		width: 200px;
		height: 364px;
		margin: 29px 0 0 -20px;
	}	
	
	#page2 .left-side {
		width: 250px;
		margin: 57px 0 0 -10px;
	}
	
	#page2 .left-side h2{
		margin-bottom: 10px;
	}
	
	#page2 .left-side #button a:before {
		display: none;
	}
	
	#page2 .left-side #button a{
		background: transparent !important;
		border: none;
		-webkit-border-radius: none;
		-moz-border-radius: none;
		-o-border-radius: none;
		border-radius: none;
		padding: 0;
		width: 100%;
		height: 0;
	}
	
	#page2 .left-side #button a:hover{
		-webkit-animation: none;
		-moz-animation: none;
		-o-animation: none;
		animation: none;
		opacity: .5;
	}	
	
	#page2 .left-side #button a h4 {
		font-size: 15px;
		line-height: 20px;
		color: #0088cc;
	}
	
	#page2 .left-side #button a p {
		display: none;
	}
	
	#page3:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 0px;
		display: block;
		bottom: 0px;
		z-index: 998;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #dadada;
	}
	
	#page3 h1 {
		margin-top: 20px;
		margin-bottom: 6px;
	}
	
	#page3 p {
		width: 100%;
	}
	
	.flex-direction-nav{
		display: none;
	}
	
	#page3 .bottom-side {
		margin: 0;
	}
	
	#page3 .bottom-side #tablet {
		width: 440px;
		height: 319px;
		margin-left: -10px
	}
	
	#page3 p {
		margin-bottom: 17px;
	}
	
	#page3 .bottom-side .flexslider {
		width: 341px;
		height: 256px;
		top: 21px;
		left: 38px;
	}
	
	.mfp-arrow-right::before, .mfp-arrow-right .mfp-b {
		margin-left: 30px !important;
	}
	
	.mfp-arrow-left::before, .mfp-arrow-left .mfp-b {
		margin-left: -35px !important;
	}
	
	.mfp-close {
		display: none !important;
	}
	
	#page4:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 0px;
		display: block;
		bottom: 0px;
		z-index: 998;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #dadada;
	}
	
	#page4 .right-side {
		margin: 29px 0 0 -20px;
	}
	
	#page4 .right-side img {
		width: 200px;
		height: 364px;
	}	
	
	#page4 .left-side {
		width: 250px;
		margin: 57px 0 0 -10px;
	}
	
	#page4 .left-side a{
		height: 0;
	}
	
	#page4 .left-side h2{
		margin-bottom: 10px;
	}
	
	#page4 .left-side a img {
		display: none;
	}
	
	#page4 .left-side a:hover{
		-webkit-animation: none;
		-moz-animation: none;
		-o-animation: none;
		animation: none;
		opacity: .5;
	}
	
	#page4 .left-side a h3 {
		margin: 0;
		font-family: "Helvetica Neue Thin";
		font-size: 15px;
		letter-spacing: 0;
		text-transform: none;
		color: #fff !important;
	}
	
	#page4 .left-side p{
		margin-bottom: 0;
	}
	
	#page4 .right-side #phone-video {
		left: 32px !important;
		top: 51px !important;
		width: 132px !important;
		height: 234px !important;
	}
	
	.vjs-default-skin .vjs-big-play-button {
		display: none !important;
	}
	
	#page5 .bottom-side {
		margin: 0;
	}
	
	#page5 form {
		margin-bottom: 0;
	}
	
	#page5 label {
		margin-top: 16px;
		font-size: 21px;
		line-height: 22px;
	}
	
	#page5 input {
		margin: -18px auto 0 auto;
		font-size: 18px;
		min-height: 30px;
		line-height: 18px;
	}
	
	#page5 .bottom-side img {
		width: 470px;
		height: 230px;
		margin-left: -24px;
	}
	
	#page5 ul{
		width: 122px;
		margin: 0px auto 50px auto;
	}
	
	#page5 ul li{
		margin-right: 7px;
	}
	
	#page5 ul li a{
		width: 34px;
		height: 34px;
		border: 1px solid #dbdbdb;
	}
	
	#page5 ul li a.twitter {
		background-size: 16px 16px;
		background-position: 10px 9px;
	}
	
	#page5 ul li a.facebook {
		background-size: 16px 16px;
		background-position: 9px 9px;
	}
	
	#page5 ul li a.linkedin {
		background-size: 16px 16px;
		background-position: 10px 8px;
	}
	
	#page5 .bottom-side #map {
		width: 297px;
		height: 168px;
		top: 18px;
		left: 61px;
	}
	
	#page5 p {
		bottom: -21px;
	}
	
	#color-picker {
		top: 44px;
		margin-top: 0;
	}
	
	@-webkit-keyframes slideInLeftPicker {
	  0% {
	    -webkit-transform: translateX(-3000px);
	    -ms-transform: translateX(-3000px);
	    transform: translateX(-3000px);
	  }
	  
	  100% {
	    -webkit-transform: translateX(0px);
	    -ms-transform: translateX(0px);
	    transform: translateX(0px);
	  }
	
	}
	
	.slideInLeftPicker {
	  -webkit-animation-name: slideInLeftPicker;
	  animation-name: slideInLeftPicker;
	}
	
	.animated2 {
	  -webkit-animation-duration: 0s;
	  animation-duration: 0s;
	  -webkit-animation-fill-mode: backwards;
	  animation-fill-mode: backwards;
	}
	
	.delay25 {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
	}

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	
	#responsive-nav h1.logo a{
		margin-top: 31px;
	}
	
	#responsive-nav select{
		right: 25px;
	}
	
	#page1 #first-phone {
		left: -3px;
	}
	
	#page1 #second-phone {
		left: 76px;
	}
	
	#page1 #third-phone {
		right: -4px;
	}
	
	#page1 h1 {
		margin-top: 26px;
	}
	
	#page1 h3 {
		margin-bottom: 16px;
	}
	
	#page2 .phone {
		position: absolute;
		top: 172px;
		left: 57px;
		width: 230px;
		height: 419px;
	}
	
	#page2 .left-side {
		margin: 20px 0 0 0;
		width: 100%;
		text-align: center;
		top: 0;
	}
	
	#page2 .left-side h2{
		margin-bottom: 9px;
	}
	
	#page2 .left-side p{
		margin-bottom: 2px;
	}

	#page2 .left-side #button a{
		background: none;
		
	}
	
	#page2 .left-side #button a h4 {
		text-align: center;
		width: 100%;
		font-size: 16px;
	}

	#page3 h1 {
		margin-top: 20px;	
		margin-bottom: 7px;
	}
	
	#page3 p {
		margin-bottom: 20px;	
	}
	
	#page3 .bottom-side {
		margin-left: -39px;
	}
	
	#page3 .bottom-side #tablet {
		margin-left: 0;
		width: 380px;
		height: 276px;
	}
	
	#page3 .bottom-side .flexslider {
		top: 19px;
		left: 41px;
		width: 295px;
		height: 221px;
	}
	
	.flex-control-nav {
		display: block !important;
	}
	
	#page4 .right-side {
		position: absolute;
		top: 169px;
		left: 57px;
	}
	
	#page4 .right-side img {
		width: 230px;
		height: 419px;
	}
	
	#page4 .left-side {
		margin: 20px 0 0 0;
		width: 100%;
		text-align: center;
	}
	
	#page4 .left-side a{
		width: 100%;
	}
	
	#page4 .left-side h2{
		margin-bottom: 8px;
	}
	
	#page4 .left-side a h3 {
		margin-top: -4px;
	}
	
	#page4 .left-side p{
		margin-bottom: 1px;
	}
	
	#page4 .left-side h4 {
		text-align: center;
		width: 100%;
		font-size: 16px;
	}
	
	#page4 .right-side #phone-video {
		left: 36px !important;
		top: 58px !important;
		width: 153px !important;
		height: 271px !important;
	}
	
	#page5 .bottom-side img {
		margin: 0;
	}
	
	#page5 .bottom-side {
		margin: 0 0 0 -84px
	}
	
	#page5 .bottom-side #map {
		top: 18px;
		left: 85px;
	}
	
	#page5 label {
		margin-top: 23px;
	}
	
	#page5 input {
		margin-top: -18px;
		width: 210px;
	}
	
	#page5 ul{
		margin: 5px auto 64px auto;
	}
	
	#page5 p br{
		display: block;
	}
	
	#color-picker {
		top: 60px;
	}
	
}

/* #Retina Styles
================================================== */

@media all and (-webkit-min-device-pixel-ratio: 1.5) {

  	h1.logo a {
		background: url('../images/logo@2x.png') no-repeat 0 0;
		background-size: 120px 33px;
	}
	
	#page4 .left-side a img{
		background: url('../images/video_bg@2x.jpg') 0 0 no-repeat;
		background-size: 245px 139px;	
	}
	
	#page2 .left-side #button a:before{
		background: url('../images/sprite_grey@2x.png') -6px 0 no-repeat;
		background-size: 35px 340px;
	}
	
	.flex-direction-nav .flex-prev { 
		background: url('../images/sprite_grey@2x.png') 0 -277px no-repeat;
		background-size: 35px 340px;
	}
	
	.flex-direction-nav .flex-next { 
		background: url('../images/sprite_grey@2x.png') 0 -201px no-repeat;
		background-size: 35px 340px;
	}
	
	#page5 ul li a.twitter{
		background: url('../images/sprite_grey@2x.png') 6px -81px no-repeat;
		background-size: 35px 340px;
	}
	
	#page5 ul li a.facebook{
		background: url('../images/sprite_grey@2x.png') 7px -119px no-repeat;
		background-size: 35px 340px;
	}
	
	#page5 ul li a.linkedin{
		background: url('../images/sprite_grey@2x.png') 5px -157px no-repeat;
		background-size: 35px 340px;
	}
	
	#responsive-nav select{
		background: url('../images/sprite_grey@2x.png') -4px -61px no-repeat;
		background-size: 35px 340px;
	}
	
	#color-picker span{
		background: rgba(0,0,0, 0.35) url('../images/arrow@2x.png') 90px 11px no-repeat;
		background-size: 7px 11px;
	}
	
	.vjs-default-skin .vjs-big-play-button {
	  background: #000 url('../images/play@2x.png') 27px 21px no-repeat;
	  background: rgba(0, 0, 0, 0.35) url('../images/play@2x.png')  27px 21px no-repeat;
	  background-size: 50px 54px;
	}
		
}

@media only screen and (max-width: 767px) {
	
	#page5 ul li a.twitter {
		background-size: 28px 272px;
		background-position: 2px -68px;
	}
	
	#page5 ul li a.facebook {
		background-size: 28px 272px;
		background-position: 3px -98px;
	}
	
	#page5 ul li a.linkedin {
		background-size: 28px 272px;
		background-position: 1px -128px;
	}
}
